@model TeamKaminariAdmin.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Problems logging in?</h4>
<hr />
@{
    <div>
        <p>
            Only the account administrator can register new users. If you require login credentials contact your system administrator. If you are the system administrator and you require assistance contact Ben Hobby at H.B Links on 07725138977.
        </p>
    </div>
}
